.env*
.git/
.php*.cache
.phpunit.cache
.wireit/
*.log
data/
logs/
node_modules/
packages/backend-php/docs/
packages/backend-php/tools/composer.phar
packages/backend-php/vendor/
packages/frontend-web/web/components/
packages/typescript
build-cache/
packages/*/node_modules/
packages/*/.wireit/
