conf/config.ini.php
docker-compose/nomos.env
tools/composer.phar
web/components/
nomos.d.ts
logs/
data/
.php-cs-fixer.cache
.phpunit.result.cache
.wireit/
docker-compose-NOT_READY_FOR_PRIME_TIME.yml
docker-compose.conf
node_modules/
vendor/

packages/frontend-react/clean-dist-assets.txt
packages/frontend-react/dist/
packages/frontend-react/public/assets/
packages/frontend-react/public/config.json
packages/frontend-react/src/lib/ui/fontawesome/generated.ts
packages/frontend-react/src/types/fontawesome/generated.ts
packages/frontend-web/web/components/
