conf/config.ini.php
docker-compose/nomos.env
tools/composer.phar
web/components/
nomos.d.ts
logs/
data/
.php-cs-fixer.cache
.phpunit.result.cache
.wireit/
docker-compose-NOT_READY_FOR_PRIME_TIME.yml
docker-compose.conf
node_modules/
vendor/
