*
!.gitignore

!.github/
!.github/**/
!.github/**/*

!.husky/
!.husky/*

!app/
!app/**/
!app/**/*.php

!conf/
!conf/**/
!conf/**/*.conf
!conf/**/*.ini
!conf/**/*.php
!conf/mimes.types
conf/config.ini.php

!docker-compose/
!docker-compose/Dockerfile
!docker-compose/*.yml

!docker/
!docker/*
!docker/docker_compose_run.sh
!docker/docker_env_config.sh
!docker/docker_run.sh
!docker/nomos.env.template
docker/nomos.env

!migrations/
!migrations/**/
!migrations/**/*.sql

!packages/
!packages/**/

!tests/
!tests/**/
!tests/**/*.php

!tools/
!tools/**/
!tools/backup/EMPTY
!tools/**/*.md
!tools/**/*.php
!tools/**/*.sh
tools/composer.phar

!vhs/
!vhs/**/
!vhs/**/*.php

!web/
!web/**/*
web/components/

!.bowerrc
!.circleci/config.yml
!.dockerignore
!.editorconfig
!.github/workflows/build-docker.yml
!.husky/pre-commit
!.npmrc
!.php-cs-fixer.php
!.prettierignore
!.shellcheckrc
!Dockerfile
!README.md
!Vagrantfile

!bower.json
!circle.yml
!composer.json
!composer.lock

!docker-compose.dev.conf
!docker-compose.sample.conf
!docker-compose.sh
!docker-compose.template.conf

!eslint.config.mjs
!justfile
!logs/EMPTY
nomos.d.ts
!package.json
!php-ts-transformer.php
!phpstan.neon
!phpunit.xml
!pnpm-lock.yaml
!pnpm-workspace.yaml
!psalm.xml
!prettier.config.mjs
!tsconfig.json
