.phpunit.cache/
composer.lock
data/
diff-report.txt
docker-compose.dev.conf
docker-compose.sample.conf
icons.psd
justfile
migrations/1/
migrations/10/
migrations/11/
migrations/12/
migrations/13/
migrations/14/
migrations/15/
migrations/16/
migrations/17/
migrations/18/
migrations/19/
migrations/2/
migrations/20/
migrations/21/
migrations/22/
migrations/23/
migrations/24/
migrations/25/
migrations/26/
migrations/3/
migrations/4/
migrations/5/
migrations/6/
migrations/7/
migrations/8/
migrations/9/
node_modules/
package-lock.json
packages/frontend-react/*.svg
packages/frontend-react/pnpm-lock.yaml
packages/frontend-react/public/assets/
packages/frontend-react/src/routeTree.gen.ts
packages/frontend-react/src/types/nomos.d.ts
packages/frontend-web/web/badges/cert_cnc_mill_lathe.svg
packages/frontend-web/web/badges/cert_laser.svg
packages/frontend-web/web/badges/door_access.svg
packages/frontend-web/web/badges/key_holder_inactive.svg
packages/frontend-web/web/badges/key_holder.svg
packages/frontend-web/web/badges/newsletter.svg
packages/frontend-web/web/components/
packages/frontend-web/web/components/bower/datatables/media/images/Sorting
packages/frontend-web/web/components/bower/datatables/media/images/Sorting icons.psd
packages/frontend-web/web/gateways/moneybookers/MoneyBookers_big.png
packages/frontend-web/web/gateways/moneybookers/MoneyBookers.png
packages/frontend-web/web/gateways/paypal/PayPal_big.png
packages/frontend-web/web/gateways/paypal/PayPal.png
packages/frontend-web/web/setup/img
packages/frontend-web/web/setup/license.html
packages/frontend-web/web/setup/style.css
packages/webhooker/webhooker.service
pnpm-lock.yaml
vendor/
