.phpunit.cache/
data/
node_modules/
vendor/
web/components/
package-lock.json
composer.lock
web/badges/cert_cnc_mill_lathe.svg
web/badges/cert_laser.svg
web/badges/door_access.svg
web/badges/key_holder.svg
web/badges/key_holder_inactive.svg
web/badges/newsletter.svg
justfile
migrations/1/
migrations/2/
migrations/3/
migrations/4/
migrations/5/
migrations/6/
migrations/7/
migrations/8/
migrations/9/
migrations/10/
migrations/11/
migrations/12/
migrations/13/
migrations/14/
migrations/15/
migrations/16/
migrations/17/
migrations/18/
migrations/19/
migrations/20/
migrations/21/
migrations/22/
migrations/23/
migrations/24/
migrations/25/
migrations/26/
web/components/bower/datatables/media/images/Sorting icons.psd
web/components/bower/datatables/media/images/Sorting
icons.psd
pnpm-lock.yaml
packages/webhooker/webhooker.service
/web/
docker-compose.dev.conf
docker-compose.sample.conf
diff-report.txt
