<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">VHS Community - get involved!</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<p> VHS is made up of lot of very wonderful humans. The more you connect with the community, the more VHS has to offer. </p>

<p> Here are some ways to connect with the VHS community:</p>

<h3>Talk</h3>

<p>
    VHS' central community hub is the web-based forum <a href="https://talk.vanhack.ca">Talk</a>. This is where longer-lived conversations,
    information, and announcements go - posts here are available to all VHS members, and some sections are available to the general public!
</p>

<p>
    <a class="btn btn-primary" type="submit" href="https://talk.vanhack.ca">Join Talk</a>
</p>

<h3>Slack</h3>

<p> For more ephemeral discussions, join the VHS slack - a live chat web app. You can request an invite to Slack here: </p>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">Request Slack Invitation</div>
            <div class="panel-body">
                <div class="overlay" ng-show="updating">
                    <div class="row vertical-align">
                        <div class="col-md-2 col-md-offset-5">
                            <div class="fa fa-spin fa-spinner fa-5x"></div>
                        </div>
                    </div>
                </div>
                <div class="overlay" ng-show="received" ng-click="received=false;">
                    <div class="row vertical-align">
                        <div class="col-md-12">
                            <div ng-bind-html="response"></div>
                        </div>
                    </div>
                </div>
                <form role="form" name="profileForm" ng-submit="requestSlackInvite();">
                    <div class="input-group">
                        <input type="text" name="email" class="form-control" ng-model="email" placeholder="E-Mail Address" />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Send</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<h3>Development</h3>

<p>
    VHS is built on lots of tech. Some custom, some off-the-shelf, all set up and kept running by members. If you're handy with php, node, devops, or
    similar technologies, and want to help out:
</p>

<h4>Source code</h4>

<p> The code for this web app (Nomos), and most of our other infrastructure, is located on Github: </p>
<p>
    <a href="https://github.com/vhs/nomos">https://github.com/vhs/nomos</a>
</p>

<h4>Slack</h4>

<p> Check out the <code>#vhs-nomos</code>, <code>#vhs-it-ops</code>, and <code>#vhs-smartspace</code> channels on the VHS slack. </p>
