services:
    # backend needs the db started first
    backend-php:
        depends_on:
            mysql:
                condition: service_started
    mysql:
        image: mariadb:11.4
        environment:
            - MARIADB_USER=${NOMOS_DB_USER}
            - MARIADB_PASSWORD=${NOMOS_DB_PASSWORD}
            - MARIADB_DATABASE=${NOMOS_DB_DATABASE}
            - MARIADB_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
        volumes:
            - ${PWD}/data/mysql:/var/lib/mysql
        # Workaround this bug in the mysql image: https://github.com/docker-library/mysql/issues/579
 #       ulimits:
 #           nproc: 65535
 #           nofile:
 #               soft: 20000
 #               hard: 40000
