<div class="row">
    <div class="row">
        <div class="col-lg-12">
            <h4>Member Card Management</h4>
            <div class="overlay" ng-show="updating">
                <div class="row vertical-align text-center icon-align-center">
                    <div class="col-md-2 col-md-offset-5">
                        <div class="fa fa-spin fa-spinner fa-5x "></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Register Card as Genuine Card</h3>
                </div>
                <div class="panel-body">
                    <label>Card Serial Number</label> <input class="form-control" title="Key" type="text" ng-model="registerkey" />
                    <br/>
                    <button class="btn btn-primary" ng-click="registerCard()">Register Card</button>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Issue Card</h3>
                </div>
                <div class="panel-body">
                    <label>Card Serial Number</label> <input class="form-control" title="Key" type="text" ng-model="issuekey" />
                    <label>Owner Email</label> <input class="form-control" title="Email" type="text" ng-model="issueemail" />
                    <br/>
                    <button class="btn btn-primary" ng-click="issueCard()">Issue Card</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

    <div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">List of Genuine Cards</h3>
        </div>
        <div class="panel-body">

    <div class="row">
        <div class="col-lg-12">

            <div class="row">
                <div class="col-lg-2">
                    <label>Page</label> <input class="form-control" title="Page" type="text" ng-model="cardList.page" ng-keyup="$event.keyCode == 13 && refresh()" />
                </div>
                <div class="col-lg-2">
                    <label>Page Size</label> <input class="form-control" title="Page Size" type="text" ng-model="cardList.size" ng-keyup="$event.keyCode == 13 && refresh()" />
                </div>

                <div class="col-lg-4">
                    <label>Columns</label> <input class="form-control" title="Columns" type="text" ng-model="cardList.columns" ng-keyup="$event.keyCode == 13 && refresh()" />
                </div>
                <div class="col-lg-4">
                    <label>Order</label> <input class="form-control" title="Order" type="text" ng-model="cardList.order" ng-keyup="$event.keyCode == 13 && refresh()" />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <label>Search</label> <input class="form-control" title="Search" type="text" ng-model="cardList.search" ng-keyup="$event.keyCode == 13 && refresh()" />
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-9">
                            <b>Quick Filters</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <button class="btn btn-primary" ng-click="togglePending(true)" ng-if="!showPending">Pending Payments</button>
                            <button class="btn btn-danger" ng-click="togglePending(false)" ng-if="showPending">Pending Payments</button>
                        </div>
                        <div class="col-lg-2">
                            <button class="btn btn-primary" ng-click="toggleOrphaned(true)" ng-if="!showOrphaned">Orphaned Payments</button>
                            <button class="btn btn-danger" ng-click="toggleOrphaned(false)" ng-if="showOrphaned">Orphaned Payments</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <button class="btn btn-primary" ng-click="refresh()">Search</button>
                </div>
            </div>

        </div>
    </div>

    <p ng-if="!membercards.length">No Genuine Cards Registered</p>
    <table ng-if="membercards.length" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Key</th>
            <th>Created</th>
            <th>Issued</th>
            <th>Active</th>
            <th>PaymentID</th>
            <th>UserID</th>
            <th>Owner Email</th>
            <th>Notes</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Key</th>
            <th>Created</th>
            <th>Issued</th>
            <th>Active</th>
            <th>PaymentID</th>
            <th>UserID</th>
            <th>Owner Email</th>
            <th>Notes</th>
        </tr>

        </tfoot>

        <tbody>
        <tr ng-repeat="card in membercards">
            <td>{{card.key}}</td>
            <td>{{card.created}}</td>
            <td>{{card.issued}}</td>
            <td><button type="button" class="btn" ng-class="card.active ? 'btn-primary' : 'btn-danger'" ng-click="openEnableDisableCard(card);"><span ng-show="card.active">Activated</span><span ng-show="!card.active">Deactivated</span></button></td>
            <td>{{card.paymentid}}</td>
            <td>{{card.userid}}</td>
            <td>{{card.owneremail}}</td>
            <td>{{card.notes}}</td>
        </tr>
        </tbody>
    </table>

    </div>
    </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">List of Card Payments</h3>
            </div>
            <div class="panel-body">

        <div class="row">
            <div class="col-lg-12">

                <div class="row">
                    <div class="col-lg-2">
                        <label>Page</label> <input class="form-control" title="Page" type="text" ng-model="paymentList.page" ng-keyup="$event.keyCode == 13 && refresh()" />
                    </div>
                    <div class="col-lg-2">
                        <label>Page Size</label> <input class="form-control" title="Page Size" type="text" ng-model="paymentList.size" ng-keyup="$event.keyCode == 13 && refresh()" />
                    </div>

                    <div class="col-lg-4">
                        <label>Columns</label> <input class="form-control" title="Columns" type="text" ng-model="paymentList.columns" ng-keyup="$event.keyCode == 13 && refresh()" />
                    </div>
                    <div class="col-lg-4">
                        <label>Order</label> <input class="form-control" title="Order" type="text" ng-model="paymentList.order" ng-keyup="$event.keyCode == 13 && refresh()" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <label>Search</label> <input class="form-control" title="Search" type="text" ng-model="paymentList.search" ng-keyup="$event.keyCode == 13 && refresh()" />
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-9">
                                <b>Quick Filters</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <button class="btn btn-primary" ng-click="togglePending(true)" ng-if="!showPending">Pending Payments</button>
                                <button class="btn btn-danger" ng-click="togglePending(false)" ng-if="showPending">Pending Payments</button>
                            </div>
                            <div class="col-lg-6">
                                <button class="btn btn-primary" ng-click="toggleOrphaned(true)" ng-if="!showOrphaned">Orphaned Payments</button>
                                <button class="btn btn-danger" ng-click="toggleOrphaned(false)" ng-if="showOrphaned">Orphaned Payments</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <button class="btn btn-primary" ng-click="refresh()">Search</button>
                    </div>
                </div>

            </div>
        </div>

        <p ng-if="!payments.length">No payments</p>
        <table ng-if="payments.length" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Date</th>
                <th>Status</th>
                <th>TXN ID</th>
                <th colspan="2">User</th>
                <th>Processor</th>
                <th>Item</th>
                <th>Price</th>
                <th></th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Date</th>
                <th>Status</th>
                <th>TXN ID</th>
                <th colspan="2">User</th>
                <th>Processor</th>
                <th>Item</th>
                <th>Price</th>

                <th></th>
            </tr>

            </tfoot>

            <tbody>
            <tr ng-repeat="payment in payments">
                <td>{{payment.date}}</td>
                <td>
                    <span>{{payment.status}}</span>
                    <a type="button" class="btn btn-primary btn-circle" ng-click="replay(payment.id)" ng-if="payment.status == 0"><i class="fa fa-ambulance"></i></a>
                </td>
                <td>{{payment.txn_id}}</td>
                <td><a type="button" class="btn btn-primary btn-circle" ng-if="payment.user_id" ui-sref="admin.users.profile({user: payment.user_id})"><i class="fa fa-edit"></i></a> {{payment.payer_fname}} {{payment.payer_lname}}</td>
                <td>{{payment.payer_email}}</td>
                <td>{{payment.pp}}</td>
                <td>{{payment.item_number}}</td>
                <td>${{payment.rate_amount}} {{payment.currency}}</td>
                <td><a type="button" class="btn btn-primary btn-circle" ui-sref="admin.payments.view({paymentId: payment.id})"><i class="fa fa-edit"></i></a></td>
            </tr>
            </tbody>
        </table>

    </div>
    </div>
    </div>

    </div>

</div>

<script type="text/ng-template" id="EnableDisableCardModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Confirm {{active}}</h3>
    </div>
    <div class="modal-body">
        Are you sure you want to {{active}} this Card?
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">{{active}}</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>