<div class="row">
    <div class="col-lg-12"></div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <h4>Privileges</h4>
        <div class="overlay" ng-show="updating">
            <div class="row vertical-align text-center icon-align-center">
                <div class="col-md-2 col-md-offset-5">
                    <div class="fa fa-spin fa-spinner fa-5x"></div>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-warning" ng-click="openCreatePrivilege()">Create Privilege</button>

        <p ng-if="!privileges.length">No Privileges</p>
        <table ng-if="privileges.length" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Icon</th>
                    <th>Enabled</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Icon</th>
                    <th>Enabled</th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>

            <tbody>
                <tr ng-repeat="privilege in privileges">
                    <td>{{privilege.name}}</td>
                    <td>{{privilege.code}}</td>
                    <td>{{privilege.description}}</td>
                    <td>{{privilege.icon}}</td>
                    <td>
                        <button
                            type="button"
                            class="btn"
                            ng-class="privilege.enabled ? 'btn-primary' : 'btn-danger'"
                            ng-click="openEnableDisablePrivilege(privilege);"
                        >
                            <span ng-show="privilege.enabled">Enabled</span><span ng-show="!privilege.enabled">Disabled</span>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary btn-circle" ng-click="openEditPrivilege(privilege);">
                            <i class="fa fa-edit"></i>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-circle" ng-click="openDeletePrivilege(privilege);">
                            <i class="fa fa-remove"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <script type="text/ng-template" id="CreatePrivilegeModal.html">
            <div class="modal-header">
                <h3 class="modal-title">Create Privilege</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" placeholder="Name" ng-model="privilege.name">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Code</label>
                            <input class="form-control" placeholder="Code" ng-model="privilege.code">
                        </div>
                        <ul>
                            <li ng-repeat="priv in systemPermissions">{{priv}}</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Description</label>
                            <input class="form-control" placeholder="Description" ng-model="privilege.description">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Icon</label>
                            <input class="form-control" placeholder="Icon URL" ng-model="privilege.icon">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">Create</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>

        <script type="text/ng-template" id="EditPrivilegeModal.html">
            <div class="modal-header">
                <h3 class="modal-title">Edit Privilege {{privilege.code}}</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" placeholder="Name" ng-model="privilege.name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Description</label>
                            <input class="form-control" placeholder="Description" ng-model="privilege.description">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Icon</label>
                            <input class="form-control" placeholder="Icon URL" ng-model="privilege.icon">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">Save</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>

        <script type="text/ng-template" id="EnableDisablePrivilegeModal.html">
            <div class="modal-header">
                <h3 class="modal-title">Confirm {{enable}}</h3>
            </div>
            <div class="modal-body">
                Are you sure you want to {{enable}} this Privilege?
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">{{enable}}</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>

        <script type="text/ng-template" id="DeletePrivilegeModal.html">
            <div class="modal-header">
                <h3 class="modal-title">Confirm Delete</h3>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this Privilege?
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">Delete</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>
    </div>
</div>
