NOMOS_DB_SERVER=
NOMOS_DB_USER=
NOMOS_DB_PASSWORD=
NOMOS_DB_DATABASE=
NOMOS_AWS_SES_CLIENT_ID=
NOMOS_AWS_SES_SECRET=
NOMOS_OAUTH_GITHUB_CLIENT=
NOMOS_OAUTH_GITHUB_SECRET=
NOMOS_OAUTH_SLACK_CLIENT=
NOMOS_OAUTH_SLACK_SECRET=
NOMOS_OAUTH_SLACK_TEAM=
NOMOS_OAUTH_GOOGLE_CLIENT=
NOMOS_OAUTH_GOOGLE_SECRET=
NOMOS_RABBITMQ_HOST=
NOMOS_RABBITMQ_PORT=
NOMOS_RABBITMQ_USER=
NOMOS_RABBITMQ_PASSWORD=
NOMOS_RABBITMQ_VHOST=
NOMOS_RABBITMQ_NOMOS_HOST=
NOMOS_RABBITMQ_NOMOS_TOKEN=