services:
    frontend:
        image: vanhack/nomos-frontend
        depends_on:
            - backend
        restart: always
        links:
            - backend:backend

    backend:
        image: vanhack/nomos-backend
        restart: always
        volumes:
            - ../data/backup:/var/www/html/backup
