services:
    rabbitmq:
        networks:
            - rabbitmq

    webhooker:
        networks:
            - rabbitmq

    backend:
        networks:
            - rabbitmq

networks:
    rabbitmq:
