services:
    frontend:
        labels:
            - 'traefik.enable=true'
            - 'traefik.http.routers.nomos-prod.rule=Host(`membership.vanhack.ca`)'
            - 'traefik.http.routers.nomos-prod.entryPoints=websecure'
            - 'traefik.http.routers.nomos-prod.tls=true'
            - 'traefik.http.routers.nomos-prod.tls.certresolver=lets-encrypt'
            - 'traefik.port=80'
            - 'traefik.docker.network=proxy'
