<div class="row">
    <div class="col-lg-12">
        <h4>Stripe Records</h4>
        <div class="overlay" ng-show="updating">
            <div class="row vertical-align text-center icon-align-center">
                <div class="col-md-2 col-md-offset-5">
                    <div class="fa fa-spin fa-spinner fa-5x "></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">

                <div class="row">
                    <div class="col-lg-3">
                        <label>Columns</label> <input class="form-control" title="Columns" type="text"
                            ng-model="listService.columns" ng-keyup="$event.keyCode == 13 && refresh()" />
                    </div>
                    <div class="col-lg-3">
                        <label>Order</label> <input class="form-control" title="Order" type="text"
                            ng-model="listService.order" ng-keyup="$event.keyCode == 13 && refresh()" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <label>Search</label> <input class="form-control" title="Search" type="text"
                            ng-model="listService.search" ng-keyup="$event.keyCode == 13 && refresh()" />
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-9">
                                <b>Quick Filters</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <button class="btn btn-primary" ng-click="togglePending(true)"
                                    ng-if="!showPending">Pending Payments</button>
                                <button class="btn btn-danger" ng-click="togglePending(false)"
                                    ng-if="showPending">Pending Payments</button>
                            </div>
                            <div class="col-lg-2">
                                <button class="btn btn-primary" ng-click="toggleOrphaned(true)"
                                    ng-if="!showOrphaned">Orphaned Payments</button>
                                <button class="btn btn-danger" ng-click="toggleOrphaned(false)"
                                    ng-if="showOrphaned">Orphaned Payments</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <button class="btn btn-primary" ng-click="refresh()">Search</button>
                    </div>
                </div>

            </div>

            <div class="row before-table">
                <div class="col-md-7">
                    <pagination ng-if="itemCount" items-per-page="listService.pageSize" total-items="itemCount"
                        ng-model="listService.page" ng-change="refresh()" max-size="10" boundary-links="true"
                        rotate="false"></pagination>
                </div>
                <div class="col-md-2 inline-control">
                    <label>{{ itemCount }} transactions found</label>
                </div>
                <div class="col-md-1 inline-control">
                    Page size:
                    <select ng-model="listService.pageSize" ng-options="o for o in listService.allowedPageSizes"
                        ng-change="refresh()"></select>
                </div>
            </div>


        </div>

        <p ng-if="!records.length">No records</p>
        <table ng-if="records.length" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th ng-repeat="column in columns">{{column}}</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th ng-repeat="column in columns">{{column}}</th>
                </tr>

            </tfoot>

            <tbody>
                <tr ng-repeat="record in records">
                    <td ng-repeat="column in columns">
                        <div ng-if="column != 'raw'">
                            {{record[column]}}
                        </div>
                        <textarea ng-if="column == 'raw'">
                    {{record[column]}}
                    </textarea>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>