@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@layer base {
    BODY {
        @apply mt-16 text-sm sm:text-base;
    }

    A {
        @apply text-blue-500;
    }

    H1,
    H2,
    H3,
    H4,
    H5,
    H6 {
        font-size: revert;
        font-weight: revert;
    }

    UL,
    OL,
    LI {
        list-style: revert;
        margin: revert;
        padding: revert;
    }

    P {
        @apply spacious;
    }

    TR,
    TH,
    TD {
        @apply border border-black/25;
    }

    PRE {
        @apply rounded-lg bg-gray-200;
    }

    INPUT[type='number'] {
        -moz-appearance: textfield;
        appearance: textfield;
    }

    INPUT::-webkit-outer-spin-button,
    INPUT::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    #user-dashboard-link > .col > a {
        @apply text-[revert];
    }
}

@layer components {
    .spacious {
        @apply my-2;
    }

    .huge {
        @apply text-5xl;
    }

    .col {
        @apply px-1;
    }

    .btn {
        @apply mb-0 inline-block h-10 min-w-fit max-w-full cursor-pointer touch-manipulation select-none whitespace-nowrap rounded-lg border border-solid bg-none px-3 text-center align-middle font-bold;
    }

    .btn-primary {
        @apply border-primary bg-primary text-white;
    }

    .btn-primary:hover {
        @apply shadow-primary;
    }

    .btn-secondary {
        @apply border-secondary bg-secondary text-white;
    }

    .btn-secondary:hover {
        @apply shadow-secondary;
    }

    .btn-success {
        @apply border-success bg-success text-white;
    }

    .btn-success:hover {
        @apply shadow-success;
    }

    .btn-warning {
        @apply border-warning bg-warning text-white;
    }

    .btn-warning:hover {
        @apply shadow-warning;
    }

    .btn-danger {
        @apply border-danger bg-danger text-white;
    }

    .btn-danger:hover {
        @apply shadow-danger;
    }

    .btn-info {
        @apply border-info bg-info text-white;
    }

    .btn-info:hover {
        @apply shadow-info;
    }

    .btn-light {
        @apply border-light bg-light text-black;
    }

    .btn-light:hover {
        @apply shadow-light;
    }

    .btn-dark {
        @apply border-dark bg-dark text-white;
    }

    .btn-dark:hover {
        @apply shadow-dark;
    }

    .btn-link {
        @apply border-link bg-link text-anchor;
    }

    .btn-link:hover {
        @apply shadow-link;
    }

    .btn-none {
        @apply border-0 bg-transparent text-[unset];
    }

    .btn-none:hover {
        @apply shadow-link;
    }

    .btn-disabled {
        @apply cursor-not-allowed border-disabled bg-disabled text-white;
    }

    .btn-disabled:hover {
        @apply shadow-disabled;
    }

    .btn-circle {
        @apply rounded-3xl;
    }

    .btn-sm {
        @apply h-7 pt-0.5;
    }

    .btn-icon {
        @apply h-[4vmin] w-[4vmin] p-[unset];
    }

    .btn:disabled {
        @apply cursor-[unset] opacity-65 shadow-none;
    }

    .nav {
        @apply z-auto border-nav bg-nav px-2;
    }

    .menu {
        &.item > * > a {
            @apply text-[#337ab7];
        }

        &.item.active {
            @apply border-b border-gray-500/25 bg-[#eee] font-bold text-black;
        }

        &.item:hover {
            @apply bg-gray-400;
        }

        .admin > &.item > * > a {
            @apply text-red-600;
        }
    }

    .card {
        @apply mb-5 rounded-lg border border-gray-200 bg-white shadow-lg;

        & > .header {
            @apply rounded-t-lg border-b border-gray-200 bg-header px-3 py-4 shadow-lg;
        }

        & > .body {
            @apply p-4;
        }

        & > .footer {
            @apply grid grid-flow-col justify-end rounded-b border-b border-t border-gray-200 px-3 py-3;
        }

        & > .footer > * {
            @apply mx-1.5;
        }
    }

    .privilege-card {
        @apply rounded-lg p-1;
    }

    .red-card {
        @apply border border-red-card bg-red-card text-white;
    }

    .red-card-footer {
        @apply border-t border-t-gray-100 bg-header;

        & > a {
            @apply text-red-card;
        }
    }

    .green-card {
        @apply border-green-card bg-green-card text-white;
    }

    .green-card-footer {
        @apply border-t border-t-gray-100 bg-header;

        & > a {
            @apply text-green-card;
        }
    }

    .gray-card {
        @apply border-gray-500 bg-gray-500 text-white;
    }

    .gray-card-footer {
        @apply border-t border-t-gray-100 bg-header;

        & > a {
            @apply text-gray-500;
        }
    }

    .decorate-green {
        @apply border border-panel-green bg-panel-green text-white;
    }

    .decorate-red {
        @apply border border-red-card bg-red-card text-white;
    }

    .overlay-container {
        @apply rounded-t-lg;

        & > * {
            @apply bg-white opacity-100;
        }
    }

    .page-title {
        @apply text-3xl;
    }

    .path-tab-container {
        @apply rounded-lg border-2 border-gray-500/50;
    }

    .path-tab-title {
        @apply -bottom-2 z-auto mx-2 rounded-t-md border-l-2 border-r-2 border-t-2 border-gray-500/25 border-b-transparent px-2;
    }

    .path-tab-title .path-tab-active {
        @apply border-gray-500/50 bg-header;
    }

    .paginator-page {
        &.default {
            @apply hover:bg-gray-300;
        }

        &.active {
            @apply bg-blue-600 text-white;
        }

        &.disabled {
            @apply cursor-not-allowed italic text-gray-700/25;
        }
    }

    .list-group {
        @apply rounded-lg border border-gray-400/50;
    }

    .list-group-item {
        @apply w-full border-b border-b-gray-400/50 p-2;

        &:last-child {
            @apply border-b-0;
        }
    }

    .no-truncate {
        white-space: unset;
        overflow: auto;
        text-overflow: unset;
        word-wrap: break-word;
        max-width: fit-content;
    }

    .scrollbar-gutter-auto {
        scrollbar-gutter: auto;
    }

    .scrollbar-gutter-stable {
        scrollbar-gutter: stable;
    }

    .tablepage-header {
        @apply break-words;
    }

    .basis-dynamic-menu {
        @apply hidden md:flex md:basis-1/4 lg:basis-1/5 xl:basis-1/6 2xl:basis-1/6 3xl:basis-1/7 4xl:basis-1/10 5xl:basis-1/11;
    }

    .basis-dynamic-content {
        @apply basis-full px-2 md:basis-3/4 lg:basis-4/5 xl:basis-5/6 2xl:basis-5/6 3xl:basis-6/7 4xl:basis-9/10 5xl:basis-11/12;
    }

    .row {
        @apply flex flex-row;
    }

    TR.data-row {
        @apply odd:bg-white even:bg-slate-200;
    }

    TR.data-row > TD {
        @apply overflow-hidden overflow-ellipsis;
    }

    .popover {
        @apply w-full;
    }

    .basis-dynamic-modal {
        /* @apply 5xl:basis-1/2 2md:basis-5/6 basis-full xs:basis-2/3 sm:basis-full md:basis-full lg:basis-3/4 xl:basis-3/5 2xl:basis-1/2 3xl:basis-1/2 4xl:basis-2/5; */
        @apply basis-full lg:basis-7/9 xl:basis-5/8 2xl:basis-1/2 2md:basis-8/9 3xl:basis-1/2 4xl:basis-3/7 5xl:basis-2/5;
    }

    .modal {
        @apply fixed bottom-0 left-0 right-0 top-0 z-above-and-beyond bg-black/10 pt-[15vh];
    }

    .modal-container {
        @apply mx-auto max-h-[80vh] w-full md:w-[800px];
    }

    .main-layout-row {
        @apply flex-wrap md:flex-nowrap;
    }

    .tab-titles {
        @apply mb-3;
    }

    .tab-title {
        @apply rounded-none border-b-4 border-b-transparent;

        &.tab-active {
            @apply border-b-anchor;
        }
    }

    .chart-container {
        @apply min-h-[25vmin];
    }
}

@layer utilities {
    .find-me {
        @apply bg-red-500/25;

        &.highlight {
            @apply max-w-full overflow-x-scroll border-2 border-black/100;
        }

        &.red {
            @apply bg-red-500/25;
        }

        &.pink {
            @apply bg-pink-500/25;
        }

        &.blue {
            @apply bg-blue-500/25;
        }

        &.green {
            @apply bg-green-500/25;
        }

        &.purple {
            @apply bg-purple-500/25;
        }

        &.lime {
            @apply bg-lime-500/25;
        }

        &.slate {
            @apply bg-slate-500/25;
        }

        &.orange {
            @apply bg-orange-500/25;
        }

        &.yellow {
            @apply bg-yellow-500/25;
        }
    }

    .shortened {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-height: 400px) {
    .modal-container {
        @apply max-h-[80vh];
    }
}

@media (min-height: 600px) {
    .modal-container {
        @apply max-h-[80vh];
    }
}

@media (min-height: 900px) {
    .modal-container {
        @apply max-h-[80vh];
    }
}
