name: Docker Image CI

on:
    push:
        branches:
            - 'main'
            - 'master'
            - 'trunk'
        tags:
            - 'v*'
    pull_request:
        branches:
            - 'main'
            - 'master'
            - 'trunk'
    workflow_dispatch:

jobs:
    build:
        strategy:
            matrix:
                component: [backend-php, frontend-react, frontend-web, webhooker]

        runs-on: ubuntu-latest

        env:
            DOCKERHUB_TEMPLATE: ${{ vars.DOCKERHUB_TEMPLATE_PREFIX }}-${{ matrix.component }}

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Docker meta
              id: meta
              uses: docker/metadata-action@v5
              with:
                  images: ${{ env.DOCKERHUB_TEMPLATE }}

            - name: Login to DockerHub
              if: github.event_name != 'pull_request'
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build and push - ${{ matrix.component }}
              uses: docker/build-push-action@v5
              with:
                  context: .
                  file: docker-compose/Dockerfile
                  target: ${{ matrix.component }}
                  push: ${{ github.event_name != 'pull_request' }}
                  tags: ${{ steps.meta.outputs.tags }}, ${{ env.DOCKERHUB_TEMPLATE }}:latest
                  labels: ${{ steps.meta.outputs.labels }}
